.root {
  position: relative;
  padding: var(--mantine-spacing-md);
  transition: border-color 150ms ease;

  &[data-checked] {
    border-color: var(--mantine-primary-color-filled);
    background-color: var(--mantine-primary-color-light-hover);
  }

  &:not([data-checked]) {
    @mixin hover {
      background-color: var(--mantine-color-default-hover);
    }
  }
}

.label {
  font-weight: 500;
  font-size: var(--mantine-font-size-sm);
  color: var(--mantine-color-bright);
}

.description {
  color: var(--mantine-color-dimmed);
  font-size: var(--mantine-font-size-xs);
}
