.header {
  display: flex;
  align-items: center;
  padding: 0 var(--mantine-spacing-md);
  border: none;
  background: alpha(var(--mantine-color-default), 0.8);
  backdrop-filter: blur(20px);
  border-bottom: 1px solid var(--mantine-color-default-border);
}

.main {
  display: flex;
  flex-direction: column;
}

.navbar {
  max-width: rem(280px);
  background-color: var(--mantine-color-default);
}

.overlay {
  z-index: 100;

  @mixin larger-than $mantine-breakpoint-sm {
    display: none !important;
  }
}
