.item {
  border-radius: var(--mantine-radius-md);

  & [data-position='left'] {
    width: 20px;
  }

  & :global(.dot) {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & :global(.dot)::before {
    content: '';
    display: inline-block;
    background-color: var(--mantine-color-dimmed);
    height: 0.3rem;
    width: 0.3rem;
    border-radius: 100%;
  }

  &[data-active='true'] :global(.dot)::before {
    background-color: var(--mantine-primary-color-filled);
    height: 0.4rem;
    width: 0.4rem;
  }
}
