@import '@mantine/core/styles.layer.css';
@import '@mantine/carousel/styles.layer.css';
@import '@mantine/charts/styles.layer.css';
@import '@mantine/code-highlight/styles.layer.css';
@import '@mantine/dates/styles.layer.css';
@import '@mantine/dropzone/styles.layer.css';
@import '@mantine/notifications/styles.layer.css';
@import '@mantine/nprogress/styles.layer.css';
@import '@mantine/spotlight/styles.layer.css';
@import '@mantine/tiptap/styles.layer.css';
/* @import "mantine-datatable/styles.layer.css"; */


html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-optical-sizing: auto;
}

:target {
  scroll-margin-top: 90px;
}

#app {
  flex: 1;
  display: flex;
  flex-direction: column;
}
