.root {
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  right: 0;
  height: var(--mantine-header-height);
  border-bottom: 1px solid var(--mantine-color-default-border);
  backdrop-filter: blur(20px);
  background-color: alpha(var(--mantine-color-default), 0.8);
}
